<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tugas-Form-Input-Binding</title>
  </head>
  <body>
    <div id="app">
      <input
        type="text"
        style="width: 330px"
        v-model="cari"
        placeholder="Ketik Pencarian di sini ( Perhatikan Huruf Besar Kecil )"
      />
      <ul v-for="buku in filterBuku">
        <li>{{buku}}</li>
      </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      var vm = new Vue({
        el: "#app",
        data: {
          cari: "",
          books: [
            "Kalkulus Dasar",
            "Fisika Dasar",
            "Aljabar Linier Elementer",
            "Aljabar Abstrak",
            "Algoritma Pemrograman",
          ],
        },
        computed: {
          filterBuku: function () {
            return this.books.filter((buku) => {
              return buku.match(this.cari);
            });
          },
        },
      });
    </script>
  </body>
</html>
